body{
    background-color: rgb(88, 136, 207);

font-size: 30px;
text-align: justify;
color:rgb(233, 204, 204);
}
h1 { 
    color:rgb(255, 0, 191);
    font-size: 50px;
    text-align: center;
}