body{
    background-color: rgb(223, 26, 223)8));

font-size: 30px;
text-align: justify;
color:rgb(233, 204, 204);
}
h1 { 
    color:rgb(250, 246, 249);
    font-size: 50px;
    text-align: center;
}